h1, h3{
    font-size:x-large;
    text-align: center;
    color:whitesmoke;
}

p{
    font-size: medium;
    font-family: Roboto;
    color: whitesmoke;
}

.flex-container{
    width:100%;
    background: url(z13.jpg);
    background-position: center;
    background-size: cover;

}

/*css for website favicon*/
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon >img{
    width: 50px;
    height:50px;
    border-radius: 50%;
}
/*CSS for the logo and menu/navigation block*/
.menu{
    float:left;
    height: 70px;
}

ul{
    display: flex;
    justify-content: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: violet

}

.navBar{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
   
}

/*CSS for the content of the site including images*/
#content{
    display: flex;
    flex-direction: column;
    
}

#featuredPhoto{
    display: flex;
    justify-content: center;
}

#projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.projImgs{
    position: relative;
    width: 200px;
    height: 200px;

}

#projects img{
    display: block;
    width: 200px;
    height: 200px;
}

/*css for hovering images in previous projects that shows a bried description of the said project*/
.projImgs:hover > .overlay {
    opacity: 1;
    cursor: pointer;  
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: violet;
  }


/*css for the other half of the content*/
.content2{
    display: flex;
    flex-direction: row;
    text-wrap:wrap;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

/*css of the footer and the back to top button*/
.footer{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items:center;
    gap: 20px;
    padding-left: 40px;;

}

.btn{
    width: 35%;
    height: 30px;
    background-color:white;
    color:black;
    font-size: 15px;
    border-radius: 15%;;
    border:none;
}

.btn:hover{
    background-color:rgb(40, 137, 207);
    color: whitesmoke;
    cursor: pointer;
}


/*image of the author*/
#author{
    width: auto;
    height: 100px;
    border-radius: 50%;
}